hellomule/src/main/app/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="hellomuleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/HelloFirst" allowedMethods="Get" doc:name="HTTP"/>
        <flow-ref name="hellomuleSub_Flow" doc:name=""/>
        <response>
            <set-payload value="from first flow" doc:name="Set Payload"/>
        </response>
    </flow>
    <sub-flow name="hellomuleSub_Flow">
        <set-payload value="#[message]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <flow name="hellomuleFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/HelloSecond" doc:name="HTTP"/>
        <flow-ref name="hellomuleSub_Flow" doc:name=""/>
        <response>
            <set-payload value="From second flow" doc:name="Set Payload"/>
        </response>
    </flow>
</mule>
